/* Global */
*{
    font-family: "Montserrat", "sans-serif";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #0f0f0f;
}

html, body {
    height: auto;
    min-height: 100dvh;
}

html{
    background: linear-gradient(0deg,rgba(125, 57, 71, 1) 0%, rgba(210, 167, 175, 1) 85%);
}

input:focus{
    outline: none;
}

/* Card do formulario */

#register-container{
    max-width: 60rem;
    min-height: 80dvh;
    margin: 2rem auto;
    display: flex;
    box-shadow: 0px 8px 40px 10px rgba(0,0,0,0.15);
}

#register-banner{
    background-color: #33060fad;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 2vh 0 0 2vh;
}

#register-banner > h1{
    font-size: 3.5rem;
    color: #fdfdfd;
    margin-bottom: 1.5rem;
    word-spacing: 50rem;
}

#register-form{
    background-color: #fdfdfd;
    padding: 1.5rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-radius: 0 2vh 2vh 0;
}

#register-form h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2.2rem;
}

#register-form p{
    text-align: center;
    margin-bottom: 1.5rem;
    color: #a7a7a7;
    font-weight: 600;
    font-size: 0.9rem;
}

.form-control{
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.form-control label{
    font-weight: bold;
    margin-bottom: 0.6rem;
}

.form-control input{
    border: none;
    border-bottom: 1px solid #aaa;
    padding: 0.6rem 0;
}

#generate-password{
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

#generate-password:hover{
    color: #0099ff;
}

#register-form #generated-password{
    border: 1px solid #0099ff;
    border-radius: 0.8vh;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 0.4rem;
    color: #0f0f0f;
    text-align: center;
    margin-bottom: 1rem;
    display: none;
}

#register-form #generated-password p{
    color: #81d340;
    margin-bottom: 0.5rem;
}

#register-form input[type="submit"]{
    background-color: #81d340;
    color: #fff;
    font-weight: 600;
    opacity: 0.8;
    border: none;
    border-radius: 4vh;
    padding: 1rem 1.4rem;
    max-width: 9rem;
    cursor: pointer;
    align-self: flex-end;
    transition: .4s;
}

#register-form input[type="submit"]:hover{
    opacity: 1;
}